# Compiled class file
*.class

# Log file
*.log

# virtual machine crash logs, see 
hs_err_pid*

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

# gradle
.gradle/
gradle-app.setting
!gradle-wrapper.jar
build/

/**/target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
.mvn/
out/